.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  margin: 0 16px;

  .title {
    font-weight: bold;
  }

  .card {
    margin: 8px;
    border-style: none;
    width: 260px;
  }

  img {
    border-radius: 16px;
    height: 240px;
    width: 100%;
  }
  .card:hover img {
    filter: brightness(90%);
  }

  a {
    text-decoration: none;
    color: black;
  }
}
.principale {
  display: grid;
  grid-template-columns: 1fr;
  flex-grow: 1;
  margin: 16px;
}

.card-booking {
  flex-direction: row !important;
  border-style: none;
  box-shadow: 10px 5px 5px grey;
  border-radius: 8%;
  background-color: white;

  link {
    color:black !important;
    text-decoration: none !important;
  }
  a {
    text-decoration: none;
  }

  .infos{
    justify-content: space-between !important;
    flex-direction: column !important;
    padding: 10px 50px 20px;
  }
  .dateaddress{
    flex-direction: row;
    height: 50%;
  }
  .deletebooking{
    justify-content: right;
  }
  .bookingname{
    font-size: x-large;
    font-weight: bold;
    height: 50%;
    padding: 10px 50px 20px;
  }
  .datebegdate{
    width: 25%;
    padding: 10px 50px 20px;
  }
  .adddesc{
    width: 75%;
    padding: 10px 50px 20px;
  }
  .img-container{
    border-radius: 8px;
  }
}
