.super-popup {
  max-width: 200px !important;
  background: white;
  border: 1px solid black;
  padding: 8px;
}

.super-map {
  position: sticky !important;
  top: 66px !important;
  height: calc(100vh - 66px) !important;
  width: 100%;
  
}
