
.super-row {
  margin: 16px 16px;
  width: calc(100vw - 50px);

  p{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
  }

  h3{
    border-width: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-shadow: 0px 1px 0px black;
  }

  .cards-show {
    display:grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 12px;
    overflow: hidden;
    padding: 0px;
    gap:8px;
    height: 400px;
    margin-bottom: 4px;
  }

  .cadre{
      display:grid;
      grid-template-columns: 1fr 1fr;
      gap:8px;
    }

  .card{
    margin: 0 !important;
    width: 100% !important;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
