.container-book{
width: 60% !important;
height: 10% !important;
border-radius: 10px !important;
overflow: hidden !important;
margin-left: 80px !important;
}

.contour{
border: solid !important;
border-color: rgb(176, 212, 245) !important;
border-radius: 10px !important;
padding-right: 10px !important;
margin-right: 20px !important;
margin-top: -300px;
margin-left: 50px !important;
text-align: center !important;
}

h1{
  color: rgb(241, 139, 37);
  border-width: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-shadow: 0px 1px 0px black;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: bold;
  margin: 0px;
}
