<div class="d-flex">
  <div class="cards">
  <% @castles.each do |castle| %>
      <div class="card">
        <p class="title"><%= castle.name %></p>
        <% if castle.photos.count > 0 %>
          <%= cl_image_tag castle.photos[0].key %>
        <% end %>
      </div>
  <% end %>
  </div>
  <div style="width: 50%; height: 600px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
