<div class="cards">
  <% @castles.each do |castle| %>
      <div class="card">
        <p class="title"><%= castle.name %></p>
        <%= image_tag castle.photo, alt: "poster" %>
      </div>
  <% end %>
</div>
